.navbar-dark {
    background-color: rgb(13, 12, 92);
}

.divider_1 {
    background-image: url("img/transition1");
    background-size: 100% 159px;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    width: 100%;
    height: 159px;
}

#sectionOne {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: top;
}

.mainHeader {
    background-color: rgba(255, 255, 255, 0.75);
}

#top_bg_container {
    background-image: url("/img/testHeaderBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed, top;  
    background-size: cover;
    background-clip: border-box;

}

h2, h3, h4 {
    text-align: center;
}

hr, .rounded {
    border-top: 5px solid orange;
    border-radius: 5px;
    max-width: 15%;

}

.mainCard {
    align-content: center;
}

.headHelp {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10%;
    padding-bottom: 10%;
}

.test {
    background-image: url("/img/WaveBothSides.png");
}

.dark {
    background-color: #4353a3;
}


.dividerHelp {
    margin-bottom: -1px;
    margin-top: -1px;
    background-position: relative;
    background-size: cover;
    position: relative;
    vertical-align: baseline;
    padding: 0;
}

.formContainer {
    background-color: white;
}

.darkCard {
    background-color: rgb(201, 199, 199);
    border-color: rgb(165, 165, 165);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#jobInfoForm {
    background-color: rgba(67, 83, 163, 95%);
    color: white;
}